@font-face {
  font-family: "Gilroy";
  src : url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src : url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src : url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src : url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.modal, .visually-hidden { display: none; }

a { text-decoration: none; }
a:visited { color: rgb(0, 0, 0); }


.main-navigaton {
  background-color: #f7e296;
  width: 1160px;

}

.site-navigation,
.user-navigation,
.site-navigation-footer,
.user-navigation-footer,
.footer-social-list,
.catalog-list
 {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.footer-phone a {
  color: rgb(0, 0, 0);
}

.main-search {
  background-color: #f7e296;
  border: none;
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  opacity: 0.3;
  line-height: 30px;
  text-align: left;
}

:active, :hover {
    outline: 0;
    outline-offset: 0;
}


.main-search:hover, .main-search:focus-within {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  opacity: 0.6;
  line-height: 2;
  text-align: left;

}


.main-search:focus {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 2;
  text-align: left;
  font-weight: 100;
  outline: none;
}

input:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

.user-navigation {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  line-height: 2;
  text-align: left;
  text-transform: capitalize;
}


.login-link:hover,.login-link:focus-within,
.compare:hover,.compare:focus-within,
.basket:hover,.basket:focus-within,
.catalog:hover,.catalog:focus-within,
.delivery:hover,.delivery:focus-within,
.delivery-company:hover,.delivery-company:focus-within,
.warranty:hover,.warranty:focus-within,
.contacts:hover,.contacts:focus-within,
.main-header-logo:hover,.main-header-logo:focus-within,
.main-footer-logo:hover,.main-footer-logo:focus-within,
.delivery-footer:hover,.delivery-footer:focus-within,
.warranty-footer:hover,.warranty-footer:focus-within,
.contacts-footer:hover,.contacts-footer:focus-within,
.catalog-item p:hover,.catalog-item p:focus-within {
  opacity: 0.6;
}


.login-link:active,
.login-unlink,
.login-unlink-footer,
.compare:active,
.basket:active,
.catalog:active,
.delivery:active,
.delivery-company:active,
.warranty:active,
.contacts:active,
.main-header-logo:active,
.main-footer-logo:active,
.button-copyright:active
{
  opacity: 0.3;
}

.breadcrumbs a:hover, .breadcrumbs a:focus-within,
.social-button-facebook:hover, .social-button-facebook:focus-within,
.social-button-instargam:hover, .social-button-instargam:focus-within,
.social-button-twitter:hover, .social-button-twitter:focus-within,
.button-copyright:hover, .button-copyright:focus-within {
  opacity: 0.6;
}

.breadcrumbs a:active,
.social-button-facebook:active,
.social-button-instargam:active,
.social-button-twitter:active {
  opacity: 0.1;
}

.catalog,
.delivery,
.warranty,
.contacts,
.delivery-footer,
.warranty-footer,
.contacts-footer {
  letter-spacing: 0.2em;
}

.about-title,
.contacts-title,
.page-title {

  font-size: 47px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-weight: bold;
  line-height: 1.021;
  text-align: left;
  text-transform: none;

}

.breadcrumbs, .color, .bluetooth {
  list-style: none;
}

.breadcrumbs li {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  line-height: 24px;
  opacity: 0.3;
  text-transform: none;
}

.filters p  {
  font-size: 18px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-weight: 900;
  line-height: 24px;
  text-transform: none;
}

.color li, .bluetooth li {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  line-height: 40px;
  text-transform: none;
}

.show {
  font-size: 18px;
  font-family: "Gilroy", Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7e296;
}

.container p {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgb(70, 70, 70);
  line-height: 30px;
  text-align: left;
  text-transform: none;
}

.catalog-item h3  {
  font-size: 18px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-weight: 900;
  line-height: 24px;
  text-transform: none;
}

.catalog-item b  {
  font-size: 16px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-weight: 100;
  line-height: 24px;
  text-transform: none;
}

.delivery-companys li {
  list-style-type: none;
}

.delivery-companys a:before {
    color: rgb(70, 70, 70);
    content: url(../img/slider-button.svg);
    padding-right: 20px;
    opacity: 0.2;
   }

.delivery-companys p {
  font-size: 16px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-weight: bold;
  line-height: 40px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.about {
  font-size: 18px;
  font-family: "Gilroy", Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 900;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7e296;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-address,
.footer-phone,
.footer-social,
.footer-copyright {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-align: left;
  text-transform: none;
}

.footer-phone a {
  color: rgb(255, 255, 255);
}

.site-navigation-footer a,
.user-navigation-footer a {
  color: #ffffff;
}

.user-navigation-footer {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  line-height: 2;
  text-align: left;
  text-transform: capitalize;
}


.login-link-footer,
.compare-footer,
.basket-footer
{
  opacity: 0.7;
}


.login-link-footer:hover, .login-link-footer:focus-within,
.compare-footer:hover, .compare-footer:focus-within,
.basket-footer:hover, .basket-footer:focus-within
{
  opacity: 1.0;
}

.login-link-footer:active,
.compare-footer:active,
.basket-footer:active,
.delivery-footer:active,
.warranty-footer:active,
.contacts-footer:active
 {
  opacity: 0.3;
}

.icon-search {
  background-image: url(../img/search-icon.svg);
  width: 16px;
  height: 16px;
}

.icon-login-link {
  background-image: url(../img/user-icon.svg);
  width: 13px;
  height: 12px;
}

.icon-compare {
  background-image: url(../img/compare-icon.svg);
  width: 10px;
  height: 10px;
}

.icon-basket {
  background-image: url(../img/cart-icon.svg);
  width: 12px;
  height: 12px;
}

.icon-catalog {
  background-image: url(../img/plus-icon.png);
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.social-button-facebook {
  display: block;
  background-image: url(../img/facebook-logo.svg);
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-button-instargam {
  display: block;
  background-image: url(../img/instagram-logo.svg);
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-button-twitter {
  display: block;
  background-image: url(../img/twiter-logo.svg);
  width: 32px;
  height: 32px;
  opacity: 0.3;
}


